<div *ngIf="show" class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto animate__animated animate__rubberBand">
      
    <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
      <span  class="text-sm">(Esc)</span>
    </div>

    <div class="modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center pb-3">
        <p class="text-2xl font-bold">Checkout</p>
        <div class="modal-close cursor-pointer z-50">
          <svg  (click)="showChange.emit(false)"  class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>

      <p *ngFor="let item of items" class="mb-2">{{ item.product.name }}: <b> {{ item.product.price * item.quantity }}$ </b>| {{ item.quantity }} units</p>
      <hr>
      <p>Total: <b>{{ total.money }}$</b></p>
      <div *ngIf="total.discounts > 0">
        <p >Discounts: <b>{{ total.discounts }}$</b></p>
        <hr>
        <p>Total amount with discounts: <b>{{ total.money - total.discounts }}$</b></p>
      </div>

      <div class="flex justify-end pt-2">
        <button (click)="showChange.emit(false)" class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
        <button (click)="checkout.emit()" class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Checkout</button>
      </div>
    </div>
</div>
