<div class="flex justify-end mb-2">
    <button 
        (click)="deleteCart()"
        class="block py-2 px-4 bg-white text-blue-800 font-semibold hover:bg-red-700 hover:text-white border border-blue-800 hover:border-transparent rounded"
        >
        Delete Cart
    </button>   
    <button 
        *ngIf="!loading && cartItems.length > 0"
        (click)="calculateCheckoutTotal()"
        class="block py-2 px-4 ml-1 bg-white text-blue-800 font-semibold hover:bg-green-700 hover:text-white border border-blue-800 hover:border-transparent rounded"
        >
        Checkout 
    </button>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-empty 
    *ngIf="!loading && cartItems.length === 0" 
    title="Your cart is empty!" 
    buttonContent="Add a product" 
    pageToRedirect="products">
</app-empty>

<div *ngIf="!loading">
    <div *ngIf="!show" class="flex flex-wrap overflow-hidden justify-center -mx-3 sm:-mx-1 md:-mx-2 xl:-mx-2">
        <div *ngFor="let item of cartItems" class="w-full p-2 border-solid border-2 rounded bg-white overflow-hidden my-3 px-3 mx-3 sm:my-1 sm:px-1 sm:w-1/3 md:my-2 md:px-2 md:w-1/4 lg:w-1/5 xl:my-2 xl:px-2 xl:w-1/6">
            <app-cart-item [item]="item" (itemDeleted)="deleteItem($event)"></app-cart-item>
        </div>
    </div>
</div>

<div class="animated">
    <app-checkout-modal [items]="cartItems" [total]="total" (checkout)="checkout()" [show]="show" (showChange)="show=$event" #modal></app-checkout-modal>
</div>