<div class="flex justify-center mt-5">
    <ul class="flex list-reset border border-grey-light bg-white rounded w-auto font-sans">
        <li>
            <button 
            (click)="previousPage()" 
            [class.pointer-events-none]="page <= 1"
            class="block hover:text-blue-500 border-r border-grey-light px-3 py-2"
            >
            
            <i class="fas fa-backward"></i>
        </button>
        </li>
        
        <li><a class="block border-r border-grey-light px-3 py-2">{{ page }}</a></li>
        
        <li>
            <a 
            (click)="nextPage()" 
            [class.pointer-events-none]="page >= maxPages - 1" 
            class="block hover:text-blue-500 border-r border-grey-light px-3 py-2"
            >
                <i class="fas fa-forward"></i>
            </a>
        </li>
    </ul>
</div>