<ul class="flex p-4 border-solid border-2 bg-white">
    <li class="mr-6 font-bold">
        <h1 class="text-blue-800">Factor It</h1> 
    </li>
    <li *ngIf="userIsAuthenticated" class="mr-6">
        <a class="text-blue-800 hover:text-blue-500 active:text-red-400" [routerLink]="['products']">Products</a> 
    </li>
    <li *ngIf="!userIsAuthenticated" class="mr-6">
        <a class="text-blue-800 hover:text-blue-500" [routerLink]="['users']">Users</a> 
    </li>
    <li *ngIf="userIsAuthenticated" >
        <a (click)="logOut()" class="text-red-500 hover:text-blue-800 cursor-pointer">Log out</a>
    </li>
    <li *ngIf="userIsAuthenticated && !cartCreated" class="ml-auto">
        <a (click)="createCart()" class="text-blue-800 hover:text-blue-500 cursor-pointer">New cart</a>
    </li>
    <li *ngIf="userIsAuthenticated && cartCreated" class="mr-6 ml-auto">
        <a class="text-blue-800 hover:text-blue-500" [routerLink]="['cart']" ><i class="fas fa-shopping-cart fa-lg"></i></a> 
    </li>
</ul>