<div class="flex">
    <h1 class="text-lg">{{ user.name }} </h1>
</div>

<div class="mt-5">
    <button
        (click)="logIn(user.id)" 
        class="block p-1 w-full bg-transparent hover:bg-blue-500 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded"
    >
        Log in
    </button>            
</div>