<div style="height: 70vh;" class="flex justify-center items-center">
    <div class="bg-white flex flex-col my-auto mx-auto w-64 h-64 items-center justify-center">
        <div class="mx-auto">
            <h1 class="size">{{ title }}</h1>
        </div>
        <div class="mx-auto mt-8">
            <div >
                <button 
                    (click)="redirect()" 
                    class="bg-transparent px-3 hover:bg-green-700 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded"
                >
                    {{ buttonContent }}
                </button>            
            </div>
        </div>
    </div>
</div>