<div class="flex">
    <h1 class="truncate">{{ product.name }} </h1>
    <b class="ml-auto">{{ product.price }}$</b>
</div>

<div class="flex mt-3 items-center">
    <small class="mr-auto">{{ quantity }}</small>
    <div class="flex">
        <button 
            (click)="quantity = quantity + 1" 
            class="bg-transparent hover:bg-green-700 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded w-8 h-8 mr-1"
        >
            +
        </button>            
        <button
            [class.disable-button]="quantity <=1" 
            (click)="quantity = quantity - 1" 
            class="bg-transparent hover:bg-red-700 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded w-8 h-8"
        >
            -
        </button>            
    </div>
</div>

<div class="mt-2">
    <button 
        (click)="addProductToCart()"
        class="block w-full bg-transparent text-blue-800 font-semibold hover:bg-blue-700 hover:text-white border border-blue-800 hover:border-transparent rounded"
    >
        <i class="fas fa-cart-plus"></i>
    </button>            
</div>