@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

.disable-button {
  cursor: not-allowed;
  pointer-events: none;
}
