<div class="flex">
    <h1>{{ item.product.name }} </h1>
    <b class="ml-auto">{{ item.product.price }}$</b>
</div>
<div class="flex mt-3 items-center">
    <small class="mr-auto">{{ item.quantity }}</small>
    <div class="flex">
        <button 
            (click)="increaseItemQuantity()" 
            class="bg-transparent hover:bg-green-700 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded w-8 h-8 mr-1"
            >
            +
        </button>            
        <button 
            [class.disable-button]="item.quantity <= 1" 
            (click)="decreaseItemQuantity()" 
            class="bg-transparent hover:bg-red-700 text-blue-800 font-semibold hover:text-white border border-blue-800 hover:border-transparent rounded w-8 h-8"
            >
            -
        </button>            
    </div>
</div>

<div class="mt-2">
    <button 
        (click)="deleteItemFromCart()"
        class="block w-full bg-transparent text-blue-800 font-semibold hover:bg-red-700 hover:text-white border border-blue-800 hover:border-transparent rounded"
        >
        <i class="fas fa-trash-alt"></i>
    </button>            
</div>