<div class="flex justify-center mb-4">
    <h1 class="text-xl text-white font-bold">Products</h1>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading">
    <div class="flex flex-wrap overflow-hidden justify-center mt-4 -mx-3 sm:-mx-1 md:-mx-2 xl:-mx-2">
        <div *ngFor="let product of products" class="w-full p-2 border-solid border-2 rounded bg-white overflow-hidden my-3 px-3 mx-3 sm:my-1 sm:px-1 sm:w-1/3 md:my-2 md:px-2 md:w-1/4 lg:w-1/5 xl:my-2 xl:px-2 xl:w-1/6">
            <app-product [product] = "product"></app-product>
        </div>
    </div>
</div>

<app-pagination [maxPages] = "pages" (pageChange)="updateProductPage($event)" ></app-pagination>
